<!DOCTYPE html>
<html lang="en">

<%- include('../../layout/head'); %>


    <body>
        <%- include('../../layout/header'); %>


            <main>
                <h2>Search by title or author</h2>
                <div class="mainContaner">
                    <form action="/searches" method="POST">
                        <input class="formElements" type="text" name="titleOrAuthor" id="titleOrAuthor"
                            placeholder="Enter a title or author" required>
                        <div class="choose">
                            <label for="title">Title</label>
                            <input type="radio" name="choose" value="intitle" id="title" required>
                        </div>
                        <br>
                        <div class="choose">
                            <label for="author">Author</label>
                            <input type="radio" name="choose" value="inauthor" id="author" required>
                        </div>
                        <button class="formElements">Search the Google Books API</button>
                    </form>
                </div>
            </main>

            <%- include('../../layout/footer'); %>

    </body>

</html>