<!DOCTYPE html>
<html lang="en">

<%- include('../layout/head'); %>

    <body>

        <%- include('../layout/header'); %>

            <main>
                <div class="mainContaner">

<img class="error" src="https://dawnmagazines.com/wp-content/uploads/2020/12/pii_email_35800da0131beebe44e2.jpg" alt="error">
                </div>
            </main>

            <%- include('../layout/footer'); %>
    </body>

</html>