<!DOCTYPE html>
<html lang="en">

<%- include('../layout/head'); %>

    <body>

        <%- include('../layout/header'); %>

            <main>
                <h2>error page</h2>
                <div class="mainContaner">


                </div>
            </main>

            <%- include('../layout/footer'); %>
    </body>

</html>