<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index.egs </title>
    <link rel="stylesheet" href="../../styles/reset.css">
    <link rel="stylesheet" href="../../styles/base.css">
    <link rel="stylesheet" href="../../styles/layout.css">
    <link rel="stylesheet" href="../../styles/modules.css">
</head>

<body>

    <header>
        <h1>Best Books!</h1>
        <a href="/newSearch">
            <div class="bugerMenuContainer">
                <div class="bugerMenu"></div>
                <div class="bugerMenu"></div>
                <div class="bugerMenu"></div>
            </div>
        </a>
    </header>

    <main>
        <h2>Home Page</h2>
        <div class="mainContaner">


        </div>
    </main>
    <footer>

        <div id="dotesContainer" class="dots-container">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
        </div>
    </footer>
</body>

</html>