* {
  box-sizing: border-box;
}

body {
  margin: auto;
  display: grid;
  grid-template-rows: 90px 1fr 70px;
  background-color: #92967d;
  font-family: "Avenir Next", "Avenir", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  height: 90px;
  padding: 15px;
}

footer {
  background-color: black;
  color: white;
  height: 70px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}
