<header>
    <h1>Best Books!</h1>

    <div class='links'>
        <a href="/">Home</a>
        <a href="/newSearch">Search</a>
    </div>

    <div class="bugerMenuContainer">
        <div class="bugerMenu"></div>
        <div class="bugerMenu"></div>
        <div class="bugerMenu"></div>
    </div>
</header>